<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img src="./assets/AddRepositoryFolder.svg" onclick="switchToAddRepositoryPanel()"
          class="add-repository-button" title="Add Repository" id="nav-open-repo-button"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">

       <!-- Repo/branch/tag -->
      <div class="nav navbar-nav col-md-5 hidden-xs" id="nav-repo-branch-tag-info">
        <li><i class="fas fa-angle-right fa-2x"></i></li>

        <li class="repo-name dropdown-toggle">
          <a href="#" id="repo-name" data-toggle="modal" data-target="#repo-modal"
            onclick="checkSignedIn()">repository</a>
        </li>
        <li><i class="fas fa-angle-right fa-2x"></i></li>
        <li class="branch-name dropdown">
          <a href="#" class="dropdown-toggle" id="branch-name" data-toggle="dropdown" onclick="switchToMainPanel()">
            branch/tag<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="branch-dropdown" role="menu" aria-labelledby="branch-name" (click)="$event.stopPropagation()">
            <div class="select-menu-header">
              <span class="select-menu-title">Switch branches/tags</span>
            </div>

            <div class="select-menu-text-filters">
              <div role="presentation" id="create-branch">
                <div id="branch-button" class="input-group menuitem" [ngClass]="{'hidden' : !branchSelectedInRefDropdown}">
                  <input type="text" id="branchName" class="form-control" placeholder="Search or create branch">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="createBranch()">OK</button>
                  </span>
                </div>
                <div id="tag-button" class="input-group menuitem" [ngClass]="{'hidden' : branchSelectedInRefDropdown}">
                  <input type="text" id="tag-name" class="form-control" oninput="searchTag()" placeholder="Search a tag">
                  <span class="input-group-btn">
                  </span>
                </div>
              </div>
              <div class="select-menu-tabs" role="presentation" id="menu-select">
                <div class="select-menu-tabs-wrapper">
                  <button class="select-menu-tab" (click)="showBranchList()" [ngClass]="{'selected' : branchSelectedInRefDropdown}">Branch</button>
                  <button class="select-menu-tab" (click)="showTagList()" [ngClass]="{'selected' : !branchSelectedInRefDropdown}">Tag</button>
                </div>

              </div>
            </div>

            <div id="tag-item-list" class="select-menu-list" role="tabpanel" tabindex="0" [ngClass]="{'hidden' : branchSelectedInRefDropdown}" ></div>
            <div id="branch-item-list" class="select-menu-list" role="tabpanel" tabindex="0" [ngClass]="{'hidden' : !branchSelectedInRefDropdown}"></div>
          </ul>
        </li>
      </div>

      <!--Toolbar-->
      <div class="navbar-nav-toolbar hidden-xs toolbar-Container" id="nav-toolbar">
          <a class="toolbar-Icons" onclick="openWiki()">
            <i class="fab fa-wikipedia-w fa-2x">
                <span class="toolbar-Text">Wiki</span>
            </i>
          </a>
          <a class="toolbar-Icons text-center" (click)="displayFileEditor()">
            <i class="fas fa-edit fa-2x">
              <span class="toolbar-Text">Editor</span>
            </i>
          </a>
        <a class="toolbar-Icons text-center" (click)="displayIssuePanel()">
          <i class="fas fa-exclamation-circle fa-2x">
            <span class="toolbar-Text">Issues</span>
          </i>
        </a>
          <a class="toolbar-Icons text-center" onclick="commitModal()">
            <i class="fas fa-plus-circle fa-2x">
            <span class="toolbar-Text">Commit</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="pushToRemote()">
            <i class="fas fa-cloud-upload-alt fa-2x">
                <span class="toolbar-Text">Push</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="pullFromRemote()">
            <i class="fas fa-cloud-download-alt fa-2x">
                <span class="toolbar-Text">Pull</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="cleanRepo()">
            <i class="fas fa-broom fa-2x">
                <span class="toolbar-Text">Clean</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="openBranchModal()">
            <i class="fas fa-code-branch fa-2x">
                <span class="toolbar-Text">Branch</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="revertCommit()">
            <i class="fas fa-history fa-2x">
                <span class="toolbar-Text">Revert</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="showStashModal()">
            <i class="fas fa-box-open fa-2x">
                <span class="toolbar-Text">Stash</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="setUpstreamModal()">
            <i class="fas fa-chevron-up fa-2x">
                <span class="toolbar-Text">Upstream</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="syncFromFork()">
            <i class="fas fa-sync-alt fa-2x">
                <span class="toolbar-Text">Sync</span>
            </i>
          </a>
          <a class="toolbar-Icons" onclick="showRebaseModal()">
            <i class="fas fa-network-wired fa-2x">
                <span class="toolbar-Text">Rebase</span>
            </i>
          </a>
      </div>

      <!-- Sign in/sign out button -->
      <div class="navbar-nav navbar-right hidden-xs">
          <div id="Button_Sign_out">
              <a class="btn btn-default btn-outline btn-circle"  id="avatar" data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse1" onclick="signOut()" title="Sign out">Sign out</a>
              <label class ="logout-label" id="githubname" style="color:white"></label>
          </div>
          <div id="Button_Sign_in">
              <a class="fab fa-github fa-3x"  id="avatar" data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse1" onclick="hideSignInButton()" (click)="authenticateGithub()" title="Sign in with GitHub"></a>
          </div>
      </div>


      <!-- Hamburger menu -->
      <ul class="nav navbar-nav visible-xs">
        <li (click)="promptUserToAddRepository()"><a>&nbsp;&nbsp;add repository</a></li>
        <li class="dropdown">
          <a id="repo-name" data-toggle="modal" data-target="#repo-modal" href="#">
            &nbsp;&nbsp;repository
            <span class="caret"></span>
          </a>
        </li>
        <li class="dropdown">
          <a id="branch-name" data-toggle="dropdown" href="#">
            &nbsp;&nbsp;branch
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="branch-dropdown" role="menu" aria-labelledby="branch-name">
            <li role="presentation" id="create-branch">
              <div class="input-group menuitem">
                <input type="text" id="branchName" class="form-control" placeholder="Search or create branch">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" onclick="createBranch()">OK</button>
                </span>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="merge-name" onclick="getOtherBranches()" data-toggle="dropdown" href="#">
            &nbsp;&nbsp;update from
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="merge-dropdown" role="menu">
          </ul>
        </li>
        <li class="upload" onclick="pushToRemote()"><a href="#">&nbsp;&nbsp;pull</a></li>
        <li class="download" onclick="pullFromRemote()"><a href="#">&nbsp;&nbsp;push</a></li>
        <li class="clone" onclick="cloneFromRemote()"><a href="#">&nbsp;&nbsp;clone</a></li>
        <li class="clean" onclick="cleanRepo()"><a href="#">&nbsp;&nbsp;clean</a></li>
      </ul>
    </div>
    <div id="cloneProgressDiv" class="progress" style="visibility: collapse">
      <div id="cloneProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
        aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      </div>
    </div>
  </div>
</nav>

<div id="otpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Two Factor Authentication</h4>
      </div>
      <div class="modal-body">
        Please enter your authentication code (SMS or from authenticator app)
        <div class="input-group">
          <br>
          <input id="otp" type="text" class="form-control" placeholder="Authentication Code" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="submitOtpButton" class="btn btn-primary" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body" id="modal-text-box">
        unset
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="modalW" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body" id="modal-text-box">
        You have changes that have not been committed or pushed. If you exit or reload now you will lose progress.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Reload()">Reload</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Close()">Exit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>


<div id="modalW2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body" id="modal-text-box">

        You have changes that have not been committed or pushed. If you log out now you will lose progress.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="WarningSignIn()">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div id="modalW3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body" id="modal-text-box">
        You have changes that have not been committed or pushed. If you Pull now you will lose progress.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pullFromRemote()">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>


<div id="modalW2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body" id="modal-text-box">

        You have changes that have not been committed or pushed. If you log out now you will lose progress.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="WarningSignIn()">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div id="modalW3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body" id="modal-text-box">
        You have changes that have not been committed or pushed. If you Pull now you will lose progress.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pullFromRemote()">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<!--Modal for commiting from navbar-->
<div id="set-commit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style=" width: 602px !important">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Commit changes</h4>
      </div>
      <div class="modal-body" id="modal-text-box">
        Please provide a commit message.
        <input type="text" id="commit-message-input-navbar" class="form-control" style=" width: 554px !important" placeholder="Enter a commit message">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="setCommitButton" onclick="addAndCommit()">Commit</button>
      </div>
    </div>
  </div>
</div>

<div id="repo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="repo-list-modal">
      <input type="text" id="searchRep" class="form-control" placeholder="Search Repository">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="searchRepoName()">Search</button>
      </span>
      <ul class="list-group"id="repo-dropdown" role="menu" aria-labelledby="repo-name">
      </ul>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary disabled" id="cloneButton" onclick="cloneRepo()">Clone</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--Modal for creating a new branch-->
<div id="branch-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <!---->
    <div class="modal-content" id="rep-modal">
      <div class="modal-header branchModalHeader">
        <h4 class="modal-title branchModalTitle branchModalComponents" >Create a new Branch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" onclick="clearBranchErrorText()" class="branchModalComponents">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Current Branch Text-->
        <h5 type="text" id="currentBranchText" class="branchModalComponents"> Current Branch: </h5>
        <br>
        <input type="text" id="branch-name-input" class="form-control branchModalComponents" placeholder="New Branch">
        <br>
        <div class="modal-body branchModalError branchModalComponents" id="branchErrorText"></div>
      </div>



        <!--<input type="text" id="asdasda" class="form-control" placeholder="Search Repository">-->
        <!--<span class="input-group-btn">-->
          <!--<button class="btn btn-default" type="button" onclick="searchRepoName()">Search</button>-->
        <!--</span>-->
        <!--<ul class="list-group"id="adadadada" role="menu" aria-labelledby="repo-name">-->
        <!--</ul>-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="createBranchButton" onclick="createBranch()">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Modal for deleting branches -->
<div id="delete-branch-modal" class="modal fade">
  <input type="hidden" id="branch-to-delete" name="branch-to-delete" />
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the branch <code id="displayedBranchName"></code>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" id="localDeleteButton" onClick="deleteLocalBranch()">Delete Local Branch</button>
        <button type="button" class="btn btn-warning" id="remoteDeleteButton" onClick="deleteRemoteBranch()">Delete Remote Branch</button>
      </div>
    </div>
  </div>
</div>

<!--Modal for adding stash message -->
<div id="stash-msg-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="rep-modal">
      <div class="modal-header stashMsgModalHeader">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" onclick="clearStashMsgErrorText()" class="stashMsgModalComponents">&times;</span>
            </button>
        <h4 class="modal-title stashMsgModalTitle stashMsgModalComponents" >Create new stash message</h4>
      </div>
      <div class="modal-body">
        <!--Stash Message Text-->
        <h5 type="text" id="stashMsgText" class="stashMsgModalComponents"> Stash Message: </h5>
        <input type="text" id="stash-msg-name-input" class="form-control stashMsgModalComponents" placeholder="Enter Your Message">
        <!-- Allow the user to select to stash untracked files-->
        <!-- Checkbox to allow the user to stash untracked files -->
        <div class="UntrackedFiles" style="padding-top: 5px">
            <input type="checkbox" id="untracked-files-checkbox">
            <label class="checkbox-label">Include Untracked Files</label>
        </div>
        <div class="modal-body stashMsgModalError stashMsgModalComponents" id="stashMsgErrorText"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="stashButton" onclick="stashChanges()">Stash!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--Modal for adding remote upstream repository-->
<div id="set-upstream-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style=" width: 602px !important">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" onclick="clearUpstreamModalText()" class="upstreamModalComponents">&times;</span>
        </button>
        <h4 class="modal-title">Configure an Upstream Repository</h4>
      </div>
      <div class="modal-body" id="modal-text-box">
        <h5 type="text">Upstream:</h5>
        <p id="display-upstream"></p>
        <button type="button" class="btn btn-danger btn-sm" id="deleteUpstreamBtn" data-dismiss="modal" onclick="showUpstreamDelete()">Delete</button>
      </div>
      <div class="modal-body" id="modal-text-box">
        Please provide the HTTP path to the original repository:
        <input type="text" id="upstream-path" class="form-control" style=" width: 554px !important" placeholder="https://github.com/ORIGINAL_OWNER/ORIGINAL_OWNER_REPOSITORY.git">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="setUpstreamButton" onclick="setUpstreamRepo()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal for editing upstream -->
<div id="edit-upstream-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to edit the upstream repository?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="clearUpstreamModalText()">Close</button>
        <button type="button" class="btn btn-warning" id="localDeleteButton" data-dismiss="modal" onClick="editUpstream()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal for deleting upstream -->
<div id="delete-upstream-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the upstream repository?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="localDeleteButton" data-dismiss="modal" onClick="deleteUpstream()">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for Rebase -->
<div id="rebase-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg " style="height: 100%">
    <div class="modal-content" >

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Rebase Branch </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-9" select-outline>
            <div>
              <label>From: </label>
              <select id = "fromBranches" onload =getRebaseBranches() ></select>
            </div>
            <div>
              <label>Onto: </label>
              <select id = "ontoBranches"></select>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Interactive </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!--                <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Apply Rebase</button>-->
        <button type="button" id="applyRebaseButton" onclick="applyRebase()" class="btn btn-primary" >Apply Rebase</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
      </div>

      <!-- Interactive Rebase UI Modal -->
      <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  " role="document" style="height: 100%">
          <div class="modal-content" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Rebasing Commits</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive table-hover">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Action</th>
                    <th>Commit</th>
                    <th>Comments</th>
                  </tr>
                  </thead>
                  <tbody class="draggable">
                  <tr>
                    <td><div class="btn-group">
                      <button type="button" class="btn btn-danger">Action</button>
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">squash</a></li>
                        <li><a href="#">pick</a></li>
                        <li><a href="#">reword</a></li>
                      </ul>
                    </div></td>
                    <td>96411f7</td>
                    <td>Reword *_ restore EI Update to use library</td>
                  </tr>
                  <tr>
                    <td><div class="btn-group">
                      <button type="button" class="btn btn-danger">Action</button>
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">squash</a></li>
                        <li><a href="#">pick</a></li>
                        <li><a href="#">reword</a></li>
                      </ul>
                    </div></td>
                    <td>5425d73</td>
                    <td>On-attach spec file new line removed</td>
                  </tr>
                  <tr>
                    <td><div class="btn-group">
                      <button type="button" class="btn btn-danger">Action</button>
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">squash</a></li>
                        <li><a href="#">pick</a></li>
                        <li><a href="#">reword</a></li>
                      </ul>
                    </div></td>
                    <td>0d68911</td>
                    <td>Test did not show usage</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Start Rebasing </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>