<div class="footer" id="footer">
    <div class="container-fluid" style="width: 100%;">
        <div class="row">
            <div class="commit-panel col-sm-3" id="commit-panel">
                <textarea placeholder="Describe your changes here...&#10;(Ctrl\Cmd + Enter or drag and drop to commit)" class="commit-message-input" id="commit-message-input" draggable="true" onkeypress="commitShortcut(event)" ondragstart="handleCommitBoxDragStart(event)" ondragend="handleCommitBoxDragEnd(event)"></textarea>
                <div class="commit-button-wrapper" id="commit-button-wrapper">
                    <button class="commit-button" id="commit-button">Commit</button>
                    <button class="commit-button" id="fileEdit-button" (click)="displayFileEditor()">File Editor</button>
                    <button class="commit-button" id="Issues-button" (click)="displayIssuePanel()">Issues</button>
                </div>
            </div>

            <div class="terminal col-sm-6" id="terminal">
            </div>
            <div class="stash-panel col-sm-3" id="stash-panel">
                <stash-panel id="stash-panel-wrapper"></stash-panel>
            </div>
        </div>
    </div>
</div>


