<div class="footer" id="footer">
    <div class="container-fluid" style="width: 100%;">
        <div class="row">
            <div class="commit-panel col-sm-3" id="commit-panel" draggable="false" ondragstart="handleCommitBoxDragStart(event)" ondragend="handleCommitBoxDragEnd(event)">
                <textarea placeholder="Commit disabled...&#10;&#10;No Files Staged" disabled rows=3 class="form-control" id="commit-message-input"  onkeypress="commitShortcut(event)"></textarea>
                <button class="input-group-addon commit-button-disabled" id="commit-button" onclick="addAndCommit()" disabled>Commit</button>
            </div>

            <div class="terminal col-sm-6" id="terminal">
            </div>
            <div class="stash-panel col-sm-3" id="stash-panel">
                <stash-panel id="stash-panel-wrapper"></stash-panel>
            </div>
        </div>
    </div>
</div>


