<div class="add-repository-panel" id="add-repository-panel">
  <img src="./assets/Back.svg" (click)="returnToMainPanel()" class="back-button">
  <div class="add-repository-body">
    <div class="code-body">
      <div class="title">
        <h1 class="clone-title">Clone from Internet</h1>
      </div>
      <div class="block">
        <div class="left">
          <p>URL to clone from</p>
        </div>
        <div class="right">
          <input type="text" oninput="updateLocalPath()" name="repositoryRemote" class="path-textbox" id="repoClone" placeholder="https://github.com/user/repository.git" list="repolistA">
          <!-- TODO: Dynamically update list, this is placeholder -->
          <datalist id="repolistA">
            <option value="https://github.com/some-repo/">
            <option value="https://github.com/another-repo/">
            <option value="https://github.com/the-last-repo/">
          </datalist>
          <button type="button" class="button-clone" id="cloneButton" (click)="selectClone()">Clone</button>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="left">
        <p>File location to save to</p>
      </div>
      <div class="right">
        <input type="text" name="repositoryLocal" class = "path-textbox" id="repoSave"/>
        <button type="button" class="button-clone" id="browseButton" (click)="selectBrowse()">Browse</button>
        <input type="file" id="dirPickerSaveNew" name="dirListSave" (change)="chooseLocalPath()" style="display: none;" webkitdirectory />
      </div>
    </div>

    <div id="open-local-repository" class="open-local-repository">
      <div class="title">
        <h1 class="open-local-repo">Open Local Repository</h1>
      </div>
      <div class="block">
        <div class="left">
          <p>Location of existing repository</p>
        </div>
        <div class="right">
          <input type="text" name="repositoryLocal" class = "path-textbox" id="repoOpen" list="repolistB"/>
          <datalist id="repolistB">
            <option value="https://github.com/best-repo/">
            <option value="https://github.com/worst-repo/">
            <option value="https://github.com/okay-repo/">
          </datalist>
          <button class="button-open" (click)="selectDirectory()">Open</button>
          <input type="file" id="dirPickerOpenLocal" name="dirList" (change)="openRepository()" style="display: none;" webkitdirectory />
        </div>
      </div>
    </div>

    <div id="create-local-repository">
	      <div class="title">
	        <h1>Create a local repository</h1>
	      </div>

	      <div class="block">
	        <div class="left">
	          <p>Location of folder</p>
	        </div>

	        <div class="right">
	          <input type="text" name="folderLocal" class = "path-textbox" id="repoCreate" list="repolistC"/>
              <datalist id="repolistC">
                <option value="https://github.com/a-repo/">
                <option value="https://github.com/b-repo/">
                <option value="https://github.com/c-repo/">
              </datalist>
	          <button class="button-open" (click)="selectLocalRepoDirectory()">Create</button>
	          <input type="file" id="dirPickerCreateLocal" name="localDir" (change)="createLocalRepository()" style="display: none;" webkitdirectory />
	        </div>

	    </div>
  </div>
</div>
