<div class="diff-panel" id="diff-panel">
  <button id ="open-editor-button" class = "open-editor-button" (click) = "openFromDiff()">Open in Editor</button>
  <button class="open-editor-button" data-toggle="modal" data-target="#rename-file-modal">Rename</button>
  <button class="open-editor-button" data-toggle="modal" data-target="#move-file-modal">Move</button>
  <div class="diff-panel-body" id="diff-panel-body"></div>
  <div class="diff-panel-buttons" id="diff-panel-buttons">
    <div id="save-button"></div> 
    <div id="cancel-button"></div> 
  </div>
</div>
<div id="rename-file-modal" class="modal fade"  role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h1 class="modal-title">Rename File</h1>
      <div class="modal-body">

          <div class="block">
            <div class="left">
              Current Filename:<br>
              <p id="currentFilename"></p>
            </div>
            <div class="right">
              New Filename:<br>
              <input type="text" name="renameFilename" class = "path-textbox" id="renameFilename" size="50"/>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn-primary" id="rename-file-button" (click)="renameFileFromDiff()">Rename File</button><br><br>
          <button type="button" class="btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
  <div id="move-file-modal" class="modal fade"  role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <h1 class="modal-title">Move File</h1>
        <div class="modal-body">
            <div class="block">
              <div class="left">
                Current Folder Path:<br>
                <p id="currentFolderPath"></p>
              </div>
              <div class="right">
                Target Folder Path:<br>
                <input type="text" name="folderLocal" class = "path-textbox" id="moveFileToFolder" size="50"/>
                <button type="button" class="btn-primary" (click)="selectBrowseTargetFolder()">Browse</button>
                <input type="file" id="dirTargetFolder" name="dirTargetFolder" (change)="moveFileFromDiff()" style="display: none;" webkitdirectory />
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn-primary" id="move-file-button" (click)="moveFileFromDiff()">Move File</button>
          <button type="button" class="btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

