<div class="authenticate" id="authenticate">
  <form role="form" style="text-align:center; margin-top:75px" id="login_page">
    <img id="visual-git-logo" src="./assets/login_logo.png"><br>
    <label>
      <h1>VisualGit</h1>
    </label>
    <br><br>
    
  
    <div>
      <button type="submit" style="width:280px;" class="btn btn-success" (click)="authenticateGithub()">Sign In Using Github</button>
      <br>
    </div>
    <br>
    <button type="submit" style="width:280px;" class="btn btn-primary" onclick="switchToAddRepositoryPanelWhenNotSignedIn()">Continue without sign in</button>
  </form>
  
  <div class="grey-out" id="grey-out">
    <div class="loader"></div>
    <div id="signing-in">Signing in...</div>
  </div>
</div>
